<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @order.title_type %>
  <b>Name:</b>
  <%= @order.name %>
  <b>Firstname:</b>
  <%= @order.firstname %>
</p>

<p>
  <b>Addresse:</b>
  <%= @order.address %>
  <b>Hno:</b>
  <%= @order.hno %>
  <b>ZIP:</b>
  <%= @order.zip %>
  <b>City:</b>
  <%= @order.city %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Zahlungsart:</b>
  <%= @order.pay_type %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
