<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @color.title %>
</p>

<p>
  <b>Image url:</b>
  <%= @color.image_url %>
</p>


<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>
